html {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

a {
   display: inline-block;
   text-decoration: none;
}

ul,
li {
   margin: 0;
   padding: 0;
   list-style: none;
}

ul[class],
ol[class] {
   padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
}

ul[class] {
   list-style: none;
}

img {
   max-width: 100%;
   display: block;
}

input,
button,
textarea,
select {
   font: inherit;
}

body {
   // font-family: "Raleway", sans-serif;
   font-family: "Roboto Condensed", sans-serif;
   font-size: 14px;
   line-height: 18px;
   font-weight: 400;
   letter-spacing: 0.6px;
   padding: 0;
   margin: 0;
}

.container {
   max-width: 1230px;
   margin: 0 auto;
   padding: 0 10px;
}

