
html {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

a {
   display: inline-block;
   text-decoration: none;
}

ul,
li {
   margin: 0;
   padding: 0;
   list-style: none;
}

ul[class],
ol[class] {
   padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
}

ul[class] {
   list-style: none;
}

img {
   max-width: 100%;
   display: block;
}

input,
button,
textarea,
select {
   font: inherit;
}

body {
   // font-family: "Quicksand", sans-serif;
   // font-family: "Raleway", sans-serif;
   font-family: "Roboto", sans-serif;
   font-size: 14px;
   line-height: 18px;
   font-weight: 400;
   letter-spacing: 0.6px;
   padding: 0;
   margin: 0;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

main {
   flex-grow: 1;
}

.container {
   max-width: 1230px;
   margin: 0 auto;
   padding: 0 15px;
}

.title {
   font-size: 24px;
   line-height: 28px;
   font-weight: 700;
   color: #29282d;
   margin-bottom: 10px;
   text-transform: uppercase;
}
.text {
   font-family: "Quicksand", sans-serif;
   font-size: 16px;
   font-weight: 500;
}
.call__btn {
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
   background: #166966;
   cursor: pointer;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   box-shadow: 0px 0px 12px 3px rgba(214, 109, 4, 0.44);
   &:hover {
      background: #fff;
      transition: all 0.3s linear;
   }
   svg {
      path {
         fill: rgb(214, 109, 4);
      }
   }
}

