//Общее
@media (max-width: 1075px){
    .menu__list,
    .menu__btn{
        display: none;
    }

    .menu{
        order: 1;
        align-items: center;
    }
    .menu__list{
        display: block;
        position: absolute;
        top: 65px;
        left: 0;
        background-color: $bg; 
        right: 0;
        padding: 20px 0;
        transform: translateY(-500px);
        transition: all .7s;
        z-index: 2 ;
        align-items: center;
        text-align: center;
    }
    .menu__list.menu__list--active {
        transform: translateY(0px);  
    }
    .menu__list-link{
        padding: 20px 0;
        display: block;
        text-align: center;
    }
    .menu__list-btn{
        display: block;
        width: 35px;
        cursor: pointer;
        height: 24px;
        border: none;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        background-color: transparent;
        position: relative;
    }
    .menu__list-btn::before{
    content: '';
     position: absolute;
     width: 35px;
     height: 2px;
     top: 9px;
     left: 0px;
     background-color: #000;
    }
    .menu__item + .menu__item {
        margin-left: 0px;
     }
     .catalog__content-text{
         font-size: 16px;
     }
     .service__text-link:hover{
         list-style: none;   
     }
     .service__item+.service__item{
         margin-left: 0;
     }
     .service__items-top,
     .service__items-bottom{
         flex-wrap: wrap;
     }
     .header__content__title{
         margin-top: 10px;
     }
     .menu__contact{
        font-size: 14px;
     }
     .footer__inner{
        flex-wrap: wrap;
     }
     .footer__box{
        flex-wrap: wrap;
     }
     .about__bg-4,
     .about__bg-3,
     .about__bg-2,
     .about__bg-1{
        max-width: 50%;
     }
     .about__item-title{
        font-size: 122px;
     }
     .form {
        margin-right: 15px; 
     }
     .skysoul__box{
      background-attachment: local;
     }
     .product__inner{
      flex-wrap: wrap;
     }
}
@media (max-width: 970px){
    .contacts__inner{
        flex-direction: column;
        align-items: center;
    }
    .form{
        margin-bottom: 20px;
    }
}
@media (max-width: 900px){
    .about__bg-4,
    .about__bg-3,
    .about__bg-2,
    .about__bg-1{
       max-width: 40%;
    }
}
@media (max-width: 800px){
    .advantages__title{
        font-size: 56px;
     }
     .footer__item {
        border-left: 1px solid #166966;
        padding-left: 30px;
        margin-bottom: 20px;
     }
     .about__content-text{
        font-size: 17px;
     }
     .about__item-title{
        font-size: 98px;
     }
     .about__item-text{
        font-size: 35px;
        line-height: 40px;
     }
     .about__item{
        flex-wrap: wrap;
     }
     .about__bg-4,
    .about__bg-3,
    .about__bg-2,
    .about__bg-1{
       max-width: 100%;
    }
    .invest__inner{
      flex-wrap: wrap;
    }
    .invest__item{
      margin-bottom: 30px;
      flex-wrap: wrap;
    }
    ul.invest__item-list__right{
      margin-bottom: 30px;
    }
     
}
@media (max-width: 845px){
   .objects__item{
      flex-direction: column;
      align-items: center;
      height: 100%;
   }
   .objects__slider{
      width: 100%;
   }
   .objects__info {
      width: 100%;
   }
   .slick-list{
      height: 100% !important;
   }
}
@media (max-width: 640px){
 .advantages__title{
    font-size: 46px;
 }
 .about__content-text{
    font-size: 16px;
 }
 .about__item-title{
    font-size: 82px;
    margin: 40px 0;
 }
 .about__item-text{
    font-size: 30px;
 }
}
@media (max-width: 550px){
    .advantages__inner{
        display: flex;
        flex-direction: column;
    }
    textarea.form__input{
        height: 130px;
    }
    .advantages__item:hover {
        transform: scale(0.9);
        transition: all 0.5s linear;
     }
     .about__item-title{
        font-size: 75px;
     }
     .about__item-text{
        font-size: 26px;
     }
     
    }
@media (max-width: 510px){
    .advantages__title{
        font-size: 36px;
     }
     .header{
        height: 80px;
     }
     .menu__contacts{
        font-size: 13px;
        width: 180px;
     }
     .logo{
        font-size: 13px;
        width: 120px;
     }
    .advantages__text {
        text-align: center;
        line-height: 23px;
    }
    .about__item-title{
        font-size: 65px;
     }
     .about__item-text{
        font-size: 27px;
     }
}
@media (max-width: 420px){
    .advantages__title{
        font-size: 32px;
     }
     .menu__contacts{
        font-size: 11px;
        width: 153px;
     }
     .logo{
        font-size: 11px;
        width: 95px;
     }
     textarea.form__input{
        height: 100px;
    }
    .about__title{
        font-size: 40px;
    }
    .about__item-title{
        font-size: 45px;
     }
     .about__item-text{
        font-size: 23px;
     }
     .contacts__title{
        font-size: 60px;
     }
}
@media (max-width: 370px){
    .advantages__title{
        font-size: 26px;
     }
     .menu__contacts{
        font-size: 10px;
        width: 138px;
     }
     .logo{
        font-size: 10px;
        width: 87px;
     }
     textarea.form__input{
        height: 47px;
    }
}
@media (max-width: 370px){
     .menu__contacts{
        font-size: 9px;
        width: 122px;
     }
     .logo{
        font-size: 9px;
        width: 82px;
     }
}