$title: #0A1815;
$bg: #94c3d2;
$suptitle: #166966;
$text: #504F4A;

%Quicksand-400{
   font-family: "Quicksand", sans-serif;
   font-weight: 400;
}
%Quicksand-500{
   font-family: "Quicksand", sans-serif;
   font-weight: 500;
}
%Quicksand-700{
   font-family: "Quicksand", sans-serif;
   font-weight: 700;
}