$title: #0A1815;
$bg: #94c3d2;
$bg2: #F1F1F1;
$suptitle: #166966;
$text: #504F4A;
$shadow : 0px 10px 40px 0px rgba(172, 172, 172, 0.3);;

%Quicksand-400{
   font-family: "Quicksand", sans-serif;
   font-weight: 400;
}
%Quicksand-500{
   font-family: "Quicksand", sans-serif;
   font-weight: 500;
}
%Quicksand-700{
   font-family: "Quicksand", sans-serif;
   font-weight: 700;
}