$title: #29282d;

%Quicksand-400{
   font-family: "Quicksand", sans-serif;
   font-weight: 400;
}
%Quicksand-500{
   font-family: "Quicksand", sans-serif;
   font-weight: 500;
}
%Quicksand-700{
   font-family: "Quicksand", sans-serif;
   font-weight: 700;
}