@import "fonts";
@import "global";
@import "libs";
@import "vars";

//

.header {
   height: 65px;
   background-color: #94c3d2;
   padding: 10px;
}
.menu {
   display: flex;
   justify-content: space-between;
}
.logo {
   text-align: center;
   width: 200px;
   color: $title;
   text-transform: uppercase;
   font-size: 18px;
   font-weight: 500;
   line-height: 24px;
}
.menu__list {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.menu__list-item + .menu__list-item {
   margin-left: 10px;
}
.menu__list-link {
   color: $title;
   text-transform: uppercase;
   font-size: 15px;
   font-weight: 500;
   position: relative;
   &:hover {
      color: $suptitle;
      transition: all 0.3s linear;
   }
}
.menu__btn {
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
   background: $suptitle;
   cursor: pointer;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   box-shadow: 0px 0px 12px 3px rgba(214, 109, 4, 0.44);
   &:hover {
      background: #fff;
      transition: all 0.3s linear;
   }
   svg {
      path {
         fill: rgb(214, 109, 4);
      }
   }
}
.menu__contacts {
   width: 200px;
   font-family: "Raleway", sans-serif;
   font-size: 15px;
   font-weight: 500;
}
.menu__contacts-tel {
   margin-bottom: 5px;
}
.menu__contacts-email {
}
.menu__contacts-tel,
.menu__contacts-email {
   color: $title;
   &:hover {
      text-decoration: underline;
      transition: all 0.3s linear;
      color: $suptitle;
   }
}

//

@import "media";
