@import "fonts";
@import "global";
@import "libs";
@import "vars";

//

.header {
   height: 65px;
   background-color: $bg;
   padding: 10px;
   z-index: 1;
}
.menu {
   display: flex;
   justify-content: space-between;
}
.logo {
   text-align: center;
   width: 200px;
   color: $title;
   text-transform: uppercase;
   font-size: 18px;
   font-weight: 500;
   line-height: 24px;
}
.menu__list {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.menu__list-item + .menu__list-item {
   margin-left: 10px;
}
.menu__list-link {
   color: $title;
   text-transform: uppercase;
   font-size: 15px;
   font-weight: 500;
   position: relative;
   &:hover {
      color: $suptitle;
      transition: all 0.3s linear;
   }
}
.menu__contacts {
   width: 200px;
   font-family: "Raleway", sans-serif;
   font-size: 15px;
   font-weight: 500;
}
.menu__contacts-tel {
   margin-bottom: 5px;
}
.menu__contacts-tel,
.menu__contacts-email {
   color: $title;
   &:hover {
      text-decoration: underline;
      transition: all 0.3s linear;
      color: $suptitle;
   }
}

.footer {
   background-color: $bg;
   padding: 30px 50px;
}
.footer__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer__box {
   display: flex;
   justify-content: space-between;
}
.footer__item {
   margin-right: 30px;
}
.footer__item + .footer__item {
   border-left: 1px solid $suptitle;
   padding-left: 30px;
}
.footer__item-title {
   font-size: 18px;
   font-weight: 500;
   margin-bottom: 10px;
}
.footer__list-item {
   margin-bottom: 5px;
}
.footer__list-link {
   color: $title;
   &:hover {
      color: $suptitle;
      text-decoration: underline;
      transition: all 0.3s ease;
   }
}
.footer__item-social {
   .footer__item-title {
      text-align: center;
      font-size: 20px;
   }
}
.footer__social-box {
   margin-bottom: 10px;
   display: flex;
   justify-content: space-around;
}
.footer__social-btn {
   border: none;
   background-color: $suptitle;
   border-radius: 15px;
   padding: 15px;
   font-size: 22px;
   font-weight: 500;
   color: rgb(214, 109, 4);
   cursor: pointer;
   &:hover {
      background-color: #fff;
      transition: all 0.3s ease;
      top: 2px;
      outline: 1px solid $suptitle;
   }
}

.about {
   padding: 80px 0;
}
.about__content {
   padding: 80px 0;
   max-width: 900px;
   padding-left: 30px;
}
.about__box {
   background: linear-gradient(280deg, #535351 -30%, rgba(12, 12, 12, 0.1)),
      url("../images/about/about__bg-1.webp") no-repeat;
   background-size: contain;
   background-position: right bottom;
   box-shadow: $shadow;
}
.bg-3 {
   background-color: $bg2;
}
.bg-4 {
   padding: 70px 0;
   background-color: #fff;
}
.about__title {
   font-size: 56px;
   line-height: 64px;
   font-family: "Quicksand", sans-serif;
   font-weight: 700;
   color: $title;
   margin-bottom: 30px;
}
.about__item-title {
   font-size: 140px;
   margin-top: 90px;
   margin-bottom: 70px;
   font-family: "Quicksand", sans-serif;
   font-weight: 700;
   text-transform: uppercase;
   color: $title;
}
.about__item-text {
   font-size: 40px;
   line-height: 48px;
   font-family: "Quicksand", sans-serif;
   font-weight: 500;
   color: #209490;
}
.about__content-text {
   font-size: 18px;
   line-height: 24px;
   font-family: "Quicksand", sans-serif;
   font-weight: 500;
   margin-bottom: 50px;
   color: $text;
}
.about__bg-1 {
   position: absolute;
   right: 0;
   bottom: 0;
}
.about__item-content {
   margin-left: 30px;
}
.about__item {
   display: flex;
   box-shadow: $shadow;
   margin-top: 40px;
}
.about__bg-2 {
   margin-bottom: 10px;
}

.contacts {
   padding: 100px 0;
}
.contacts__title {
   text-align: center;
   font-size: 72px;
   font-weight: 700;
   color: $title;
   margin-bottom: 100px;
}
.contacts__inner {
   display: flex;
   justify-content: space-between;
}
.contacts__box {
   max-width: 370px;
   margin-right: 60px;
}
.contacts__form {
   padding: 60px 50px;
   box-shadow: 0px 10px 40px 0px rgba(172, 172, 172, 0.3);
   min-width: 600px;
}
.contacts__form-title {
   color: $title;
   font-size: 22px;
   line-height: 25px;
   font-weight: 700;
   margin-bottom: 30px;
}
.contacts__form-input {
   height: 60px;
   width: 100%;
   display: block;
   background-color: $bg;
   border: none;
   border-radius: 15px;
   padding: 0 24px;
   margin: 20px 0;
}
.contacts__form-textarea {
   margin-bottom: 20px;
   width: 100%;
   height: 200px;
   resize: none;
   display: block;
   background-color: $bg;
   border: none;
   border-radius: 15px;
   padding: 24px;
}

.advantages {
   padding: 90px 0;
}
.advantages__inner {
   display: grid;

   grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr;

   gap: 25px;
   height: 100%;
}
.advantages__item {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 300px;
   height: 100%;
   box-shadow: 0px 10px 40px 0px rgba(172, 172, 172, 0.3);
   padding: 20px;
   transform: scale(1);
   background-blend-mode: multiply;
   .advantages__text {
      color: rgb(218, 218, 218);
   }
   &:hover {
      transform: scale(1.1);
      transition: all 0.5s linear;
   }
}
.advantages__item--1 {
   background: url("../images/advantages/1.jpg") center no-repeat rgba(0, 0, 0, 0.6);

   background-size: cover;
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 2;
}
.advantages__item--2 {
   background: url("../images/advantages/2.jpg") center no-repeat rgba(0, 0, 0, 0.6);
   background-size: cover;
   grid-row-start: 1;
   grid-column-start: 2;

   grid-row-end: 3;
   grid-column-end: 3;
   .advantages__text {
      color: rgb(218, 218, 218);
   }
}
.advantages__item--3 {
   background: url("../images/advantages/3.jpg") center no-repeat rgba(0, 0, 0, 0.6);
   background-size: cover;
   grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 2;
}
.advantages__item--4 {
   background: url("../images/advantages/4.jpg") center no-repeat rgba(0, 0, 0, 0.6);
   background-size: cover;
   grid-row-start: 3;
   grid-column-start: 1;

   grid-row-end: 5;
   grid-column-end: 2;
}
.advantages__item--5 {
   background: url("../images/advantages/5.jpg") center no-repeat rgba(0, 0, 0, 0.6);
   background-size: cover;
   grid-row-start: 3;
   grid-column-start: 2;

   grid-row-end: 4;
   grid-column-end: 3;
}
.advantages__item--6 {
   background: url("../images/advantages/6.jpg") center no-repeat rgba(0, 0, 0, 0.6);
   background-size: cover;
   grid-row-start: 4;
   grid-column-start: 2;

   grid-row-end: 5;
   grid-column-end: 3;
}
.advantages__item--7 {
   background: url("../images/advantages/7.webp") center no-repeat rgba(0, 0, 0, 0.6);
   background-size: cover;
   grid-row-start: 5;
   grid-column-start: 1;

   grid-row-end: 6;
   grid-column-end: 3;
}
.advantages__text {
   font-size: 26px;
   @extend %Quicksand-700;
   color: #fefefe;
}

.objects {
   padding: 90px 0;
}
.objects__inner {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.objects__item {
   max-width: 100%;
   height: 404px;
   display: flex;
   justify-content: space-between;
   outline: 1px solid rgb(228, 228, 228);
   margin-bottom: 40px;
   box-shadow: 0px 40px 40px 10px rgba(172, 172, 172, 0.3);
}
.objects__slider {
   width: 60%;
}
.objects__slider-slide {
   background-size: cover;
}
.swiper-slide-img img {
   object-fit: cover;
}
.objects__info {
   width: 40%;
   padding: 40px 30px;
   background-color: rgb(235, 233, 233);
}
.objects__info-title {
   text-align: center;
   font-size: 26px;
   font-weight: 500;
   margin-bottom: 25px;
}
.objects__info-list {
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-weight: 500;
   list-style: circle;
}
.objects__info-item {
   & + & {
      margin-top: 10px;
   }
}
.objects__info-link {
   display: flex;
   justify-content: end;
   font-size: 20px;
   font-weight: 700;
   color: $suptitle;
   margin-top: 40px;
   &:hover {
      text-decoration: underline;
      color: #fefefe;
      transition: all 0.3s;
   }
}
.element-animation {
   opacity: 0;
}
.element-animation.element-show {
   opacity: 1;
   transition: all 1.5s;
   transform: translateY(0%);
}

// .objects__info-item.element-animation.element-show{
//    opacity: 1;
//    transform: translateX(0);
// }

//

@import "media";
