@import "fonts";
@import "global";
@import "libs";
@import "vars";

//

.header {
   height: 65px;
   background-color: #94c3d2;
   padding: 10px;
   z-index: 1;
}
.menu {
   display: flex;
   justify-content: space-between;
}
.logo {
   text-align: center;
   width: 200px;
   color: $title;
   text-transform: uppercase;
   font-size: 18px;
   font-weight: 500;
   line-height: 24px;
}
.menu__list {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.menu__list-item + .menu__list-item {
   margin-left: 10px;
}
.menu__list-link {
   color: $title;
   text-transform: uppercase;
   font-size: 15px;
   font-weight: 500;
   position: relative;
   &:hover {
      color: $suptitle;
      transition: all 0.3s linear;
   }
}
.menu__contacts {
   width: 200px;
   font-family: "Raleway", sans-serif;
   font-size: 15px;
   font-weight: 500;
}
.menu__contacts-tel {
   margin-bottom: 5px;
}
.menu__contacts-tel,
.menu__contacts-email {
   color: $title;
   &:hover {
      text-decoration: underline;
      transition: all 0.3s linear;
      color: $suptitle;
   }
}

.footer {
   background-color: $bg;
   padding: 30px 50px;
}
.footer__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer__box {
   display: flex;
   justify-content: space-between;
}
.footer__item {
   margin-right: 30px;
}
.footer__item + .footer__item {
   border-left: 1px solid $suptitle;
   padding-left: 30px;
}
.footer__item-title {
   font-size: 18px;
   font-weight: 500;
   margin-bottom: 10px;
}
.footer__list-item {
   margin-bottom: 5px;
}
.footer__list-link {
   color: $title;
   &:hover {
      color: $suptitle;
      text-decoration: underline;
      transition: all 0.3s ease;
   }
}
.footer__item-social {
   .footer__item-title {
      text-align: center;
      font-size: 20px;
   }
}
.footer__social-box {
   margin-bottom: 10px;
   display: flex;
   justify-content: space-around;
}
.footer__social-btn {
   border: none;
   background-color: $suptitle;
   border-radius: 15px;
   padding: 15px;
   font-size: 22px;
   font-weight: 500;
   color: rgb(214, 109, 4);
   cursor: pointer;
   &:hover {
      background-color: #fff;
      transition: all 0.3s ease;
      top: 2px;
   }
}
.about__content {
   padding: 80px 0;
   width: 900px;
   padding-left: 30px;
}
.about__inner {
   background-color: $bg2;
}
.about__box {
   background: url("../images/about__bg-1.webp") no-repeat;
   background-size: contain;
   background-position: right bottom;
}
.bg-3 {
   background-color: $bg2;
   padding: 70px 0;
}
.bg-4 {
   padding: 70px 0;
}
.about__title {
   font-size: 56px;
   line-height: 64px;
   font-family: "Quicksand", sans-serif;
   font-weight: 700;
   color: $title;
   margin-bottom: 30px;
}
.about__item-title {
   font-size: 140px;
   margin-top: 90px;
   margin-bottom: 70px;
   font-family: "Quicksand", sans-serif;
   font-weight: 700;
   text-transform: uppercase;
   color: $title;
}
.about__item-text {
   font-size: 40px;
   line-height: 48px;
   font-family: "Quicksand", sans-serif;
   font-weight: 500;
   color: $suptitle;
}
.about__content-text {
   font-size: 18px;
   line-height: 24px;
   font-family: "Quicksand", sans-serif;
   font-weight: 500;
   margin-bottom: 50px;
   color: $text;
}
.about__bg-1 {
   position: absolute;
   right: 0;
   bottom: 0;
}
.about__item-content {
   margin-left: 30px;
}
.about__item {
   margin-top: 80px;
   display: flex;
   margin-bottom: 50px;
}
.about__bg-2 {
   height: 80%;
   margin-bottom: 10px;
}
//

@import "media";
